@CHARSET "UTF-8"; 

/* CSS reset */
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, details,
div, dd, del, dl, dfn, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe,
img, input, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, s, samp, section, small, span, strike, strong, sub,
summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, tt, u, ul, var, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 1em;
	font-family: 'Geo', Georgia, times, sans-serif;
	vertical-align: baseline;
}

input, select { vertical-align: middle; }

ul, ol { list-style: none }

:link, :visited { border: 0; outline: 0; }

.clear { clear: both; }

/* ------------------------------------------ Start Site Styling ------------------------------------------ */
body {
	background: url("/images/bg.png") repeat;
	font-size: 15px;
}

.pageContainer {
	width: 85%;
	min-width: 500px;
	margin: 0 auto;
	padding: 20px;
	background: #ccc;
	-moz-box-shadow: 0px 0px 10px #333;
	-webkit-box-shadow: 0px 0px 10px #333;
	box-shadow: 0px 0px 10px #333;
}

.left { 
	width: 60%;
	float: left;
}

.right {
	width: 38%;
	float: right; 
}

.mapBox { 
	width: 100%;
}


/* ------------------------------------------ Default Text ------------------------------------------ */
p {
	margin-bottom: 20px;
}

h1 {
	margin-bottom: 20px;
	font-family: 'VT323', cursive;
	font-size: 24px;
}

h2 {
	margin-bottom: 20px;
	font-family: 'VT323', cursive;
	font-size: 22px;
}

h3 {
	margin-bottom: 20px;
	font-family: 'VT323', cursive;
	font-size: 20px;
}


/* ------------------------------------------ Login Form ------------------------------------------ */
.loginForm label {
	margin-bottom: 10px;
	display: block;
}

.loginForm input {
	margin-bottom: 10px;
	display: block;
}






