@CHARSET "UTF-8"; 

/* CSS reset */
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, details,
div, dd, del, dl, dfn, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe,
img, input, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, s, samp, section, small, span, strike, strong, sub,
summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, tt, u, ul, var, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 1em;
	font-family: 'Geo', Georgia, times, sans-serif;
	vertical-align: baseline;
}

input, select { vertical-align: middle; }

ul, ol { list-style: none }

:link, :visited { border: 0; outline: 0; }

.clear { clear: both; }

/* ------------------------------------------ Start Site Styling ------------------------------------------ */
body {
	background: url("/images/bg.png") repeat;
	font-size: 16px;
	color: #000;
}

.pageContainer {
	width: 85%;
	min-width: 500px;
	margin: 0 auto;
	padding: 20px;
	background: url("/images/bg-content.png");
	-moz-box-shadow: 0px 0px 10px #333;
	-webkit-box-shadow: 0px 0px 10px #333;
	box-shadow: 0px 0px 10px #333;
}

.left { 
	width: 60%;
	float: left;
}

.right {
	width: 38%;
	float: right; 
}

.mapBox { 
	width: 100%;
}


/* ------------------------------------------ Default Text ------------------------------------------ */
p {
	margin-bottom: 20px;
}

h1 {
	margin-bottom: 10px;
	font-family: 'VT323', cursive;
	font-size: 28px;
}

h2 {
	margin-bottom: 10px;
	font-family: 'VT323', cursive;
	font-size: 26px;
}

h3 {
	margin-bottom: 10px;
	font-family: 'VT323', cursive;
	font-size: 24px;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #009900;
	text-decoration: underline;
}


/* ------------------------------------------ Header ------------------------------------------ */
.header {
	height: 120px;
	margin-bottom: 15px;
	position: relative;
}

.header .logo {
	width: 120px;
	height: 115px;
	background: url("/images/logo.png") no-repeat;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
}

.header .nav {
	margin-top: 40px;
	margin-bottom: 20px;
	padding-left: 140px;
	float: right;
}

.header .nav ul {
	list-style: none;
}

.header .nav li {
	margin-left: 20px;
	float: right;
}

.header .nav a {
	font-family: 'VT323', cursive;
	font-size: 24px;
	text-decoration: none;
}

.header .nav a:hover {
	text-decoration: none;
}

.header .bar {
	width: 100%;
	height: 30px;
	background: #666;
	border-bottom: 2px solid #009900;
	position: absolute;
	bottom: 0px;
	z-index: 1;
}


/* ------------------------------------------ Login Form ------------------------------------------ */
.loginForm {
	width: 400px;
	margin: 0 auto;
}

.loginForm label {
	margin-bottom: 0px;
	font-size: 18px;
	display: block;
}

.loginForm input {
	width: 388px;
	padding: 3px 5px;
	margin-bottom: 15px;
	border: 1px solid #000;
	display: block;
}

.loginForm input:focus {
	border: 1px solid #009900;
}

.loginForm input[type="submit"] {
	width: 200px;
	color: #fff;
	background: #006600;
	cursor: pointer;
}

.loginForm input[type="submit"]:hover {
	background: #009900;
}

.loginForm .errors {
	color: #cc0000;
	position: relative;
	top: -15px;
}


/* ------------------------------------------ Error Page ------------------------------------------ */
.errorPage {
	width: 500px;
	margin: 0 auto;
	text-align: center;
}

.errorPage h1 {
	margin-bottom: 0px;
}

.errorPage .failPic {
	width: 500px;
	height: 304px;
	margin-bottom: 20px;
	background: url("/images/fail.jpg") no-repeat;
}


